@use "index/index";

*,
::after,
::before {
    @include index.resetSettings;
}

html {
    @include index.setHTML;
}

body {
    @include index.setBody;
}

.container {
    @include index.setContainer;
}

.header {
    height: 100vh;
    padding-top: 0.1px;

    .header__nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        height: index.$height_navbar;
        background-color: white;
        font-family: index.$roboto;

        .header__container {
            height: 100%;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav__logo {
                display: flex;
                align-items: center;
                gap: 30px;

                .nav__name {
                    text-decoration: none;
                    font-size: index.$roboto24;
                    font-weight: index.$robotoW500;
                    color: index.$color_principal_1;
                }

                .nav__figure {
                    width: 60px;
                    height: 60px;
                    order: -1;

                    .nav__img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: cover;
                    }
                    
                }

            }

            .nav__menu {

                .menu__item {
                    list-style-type: none;
                    display: inline;
                    margin-right: 25px;

                    &:last-child {
                        margin-right: 0;
                    }

                    .menu__link {
                        text-decoration: none;
                        color: index.$color_principal_1;
                        font-size: index.$roboto14;
                        font-weight: index.$robotoW400;
                    }

                }

            }
            
        }

    }

    .header__main {
        @include index.setHeightMarginTop;
        background-image: url(../assets/images/header_background.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;

        .header__container {
            height: 100%;
            display: flex;
            align-items: center;

            .header__text {
                background-color: index.$color_secundario_1;
                color: white;
                font-family: index.$roboto;
                font-size: index.$roboto64;
                font-weight: index.$robotoW500;
                padding: 20px 50px;
                letter-spacing: 3px;
                border-radius: 10px;
            }

        }

    }

}

.main {

    .bebidas {
        background-color: index.$color_secundario_4;
        height: auto;
        padding-top: 0.1px;

        .bebidas__container {
            min-height: 480px;
            margin-top: index.$height_navbar;
            font-family: index.$roboto;

            .bebidas__title {
                @include index.titleSettings;
            }

            .bebidas__cards {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                grid-auto-rows: max-content;
                place-items: center;

                .bebidas__card {
                    width: 80%;
                    height: 100%;
                    cursor: pointer;
                    transform: scale(1);
                    transition: 200ms transform ease-in-out;

                    .bebidas__img {
                        width: 100%;
                        display: block;
                        object-fit: cover;
                        border-radius: 10px;
                    }

                    .bebidas__name {
                        @include index.nameSettings;
                    }

                    .bebidas__price {
                        @include index.priceSettings;
                    }

                    &:hover {
                        transform: scale(1.2);
                        transition: 400ms transform ease-in-out;
                    }

                }

            }

        }

    }

    .desayunos {
        height: auto;
        padding-top: 0.1px;

        .desayunos__container {
            min-height: 480px;
            margin-top: index.$height_navbar;
            font-family: index.$roboto;
    
            .desayunos__title {
                @include index.titleSettings;
            }
    
            .desayunos__cards {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                grid-auto-rows: max-content;
                place-items: center;
    
                .desayunos__card {
                    width: 70%;
                    height: 100%;
                    cursor: pointer;
                    transform: translateY(0);
                    transition: 200ms transform ease-in-out;
    
                    .desayunos__img {
                        width: 100%;
                        height: 200px;
                        display: block;
                        object-fit: cover;
                        border-radius: 10px
                    }
    
                    .desayunos__name {
                        @include index.nameSettings;
                    }
    
                    .desayunos__price {
                        @include index.priceSettings;
                    }

                    &:hover {
                        transform: translateY(-20%);
                        transition: 400ms transform ease-in-out;
                    }
    
                }
    
            }
    
        }

    }

    .platillos {
        height: auto;
        padding-top: 0.1px;
        background-color: index.$color_secundario_5;

        .platillos__container {
            min-height: 100vh;
            margin-top: index.$height_navbar;
            font-family: index.$roboto;

            .platillos__title {
                @include index.titleSettings;
            }

            .platillos__cards {
                display: grid;
                grid-template-columns: repeat(2, minmax(300px, 1fr));
                grid-auto-rows: max-content;
                gap: 35px;

                .platillos__texts {
                    width: 70%;
                    height: 100%;

                    &:nth-of-type(odd) {
                        place-self: end;
                    }

                    &:nth-of-type(even) {
                        place-self: start;
                    }

                    .platillos__name {
                        @include index.namePlatillosSettings;
                    }

                    .platillos__paragraph {
                        @include index.paragraphPlatillosSettings;
                    }

                    .platillos__btn {
                        @include index.buttonPlatillosSettings;

                        &:active {
                            transform: scale(0.93);
                            transition: 100ms transform ease-in-out;
                        }

                    }

                    @include index.setGritItem(1, 1, 2, 1, 2);
                    @include index.setGritItem(2, 2, 3, 2, 3);
                    @include index.setGritItem(3, 1, 2, 3, 4);

                }

                .platillos__figure {
                    width: 75%;
                    height: 100%;

                    &:nth-of-type(odd) {
                        place-self: start;
                    }

                    &:nth-of-type(even) {
                        place-self: end;
                    }

                    .platillos__img {
                        width: 100%;
                        height: 250px;
                        display: block;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 10px;
                    }

                    @include index.setGritItem(1, 2, 3, 1, 2);
                    @include index.setGritItem(2, 1, 2, 2, 3);
                    @include index.setGritItem(3, 2, 3, 3, 4);

                }

            }

        }

    }

    .cafe {
        height: auto;
        padding-top: 0.1px;
        
        .cafe__container {
            margin-top: index.$height_navbar;
            min-height: 450px;
            font-family: index.$roboto;

            .cafe__title {
                @include index.titleSettings;
            }

            .cafe__cards {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
                grid-auto-rows: max-content;
                place-items: center;

                .cafe__card {
                    width: 270px;
                    height: 100%;

                    .cafe__img {
                        width: 100%;
                        height: 210px;
                        display: block;
                        object-fit: cover;
                        border-radius: 10px;
                    }

                    .cafe__caption {
                        @include index.nameSettings;
                    }

                }

            }

        }

    }

    .contacto {
        height: auto;
        background-color: index.$color_secundario_4;

        .contacto__container {
            min-height: 500px;
            font-family: index.$roboto;
            display: flex;
            flex-direction: column;

            .contacto__title {
                @include index.titleSettings;
            }

            .contacto__cards {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                grid-auto-rows: max-content;
                place-items: center;

                .contacto__form {
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    gap: 40px;

                    .correo__container {
                        position: relative;

                        .correo__input {
                            @include index.setInput;
                            @include index.fontInput;

                            &:focus {
                                color: index.$color_principal_1;

                                + .correo__label {
                                    color: index.$color_principal_1;
                                    transform: translateY(-30px) scale(0.7);
                                    transition: 400ms all ease-in;
                                    transform-origin: left;
                                }

                                ~ .correo__span {
                                    transform: scale(1);
                                    transition: 400ms transform ease-in;
                                    transform-origin: left;
                                }

                            }

                            &:not(:placeholder-shown) + .correo__label {
                                color: index.$color_principal_1;
                                transform: translateY(-30px) scale(0.7);
                                transition: 400ms all ease-in;
                                transform-origin: left;
                            }

                        }

                        .correo__label {
                            @include index.setLabel;
                            @include index.fontLabel;
                        }

                        .correo__span {
                            @include index.setSpan;
                        }

                    }

                    .mensaje__container {
                        position: relative;

                        .mensaje__textarea {
                            resize: none;
                            height: 120px;
                            @include index.fontInput;
                            @include index.setInput;

                            &:focus {
                                color: index.$color_principal_1;

                                + .mensaje__label {
                                    color: index.$color_principal_1;
                                    transform: translateY(-30px) scale(0.7);
                                    transform-origin: left;
                                    transition: 400ms all ease-in;
                                }

                                ~ .mensaje__span {
                                    transform: scale(1);
                                    transition: 400ms transform ease-in;
                                    transform-origin: left;
                                }

                            }

                            &:not(:placeholder-shown) + .mensaje__label {
                                color: index.$color_principal_1;
                                transform: translateY(-30px) scale(0.7);
                                transform-origin: left;
                                transition: 400ms all ease-in;
                            }

                        }

                        .mensaje__label {
                            @include index.fontLabel;
                            @include index.setLabel;
                        }

                        .mensaje__span {
                            @include index.setSpan;
                        }

                    }

                    .contacto__button {
                        @include index.buttonPlatillosSettings;
                    }

                }

                .contacto__maps {
                    width: 90%;
                    height: 100%;

                    .contacto__iframe {
                        width: 100%;
                        height: 100%;
                    }

                }

            }

        }

    }

}

.footer {
    height: auto;
    background-color: index.$color_principal_1;

    .footer__container {
        min-height: 125px;
        color: white;
        font-family: index.$roboto;
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer__info {

            .footer__advice {
                @include index.fontFooter;
            }

            .footer__terms {
                @include index.fontFooter;
            }

            .footer__copyright {
                @include index.fontFooter;
            }

        }

        .footer__email {
            @include index.fontFooter;
            font-style: normal;

            .footer__link {
                color: white;
                text-decoration: none;
            }

        }

    }

}