/* Colores Principales */
$color_principal_1: #284148;
$color_principal_2: #2F473F;
$color_principal_3: #517E78;

/*Colores Secundarios*/
$color_secundario_1: #D88260;
$color_secundario_2: #E7B29D;
$color_secundario_3: #D7967C;
$color_secundario_4: #F2DCD4;
$color_secundario_5: #FEFDF3;
