@use "../partials/variables";
@use "../partials/colores";
@use "../partials/fonts";


@mixin resetSettings {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@mixin setHTML {
    height: 100%;
}

@mixin setBody {
    min-height: 100vh;
    width: 100%;
}

@mixin setContainer {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    padding: variables.$padding_container;
}

@mixin setHeightMarginTop {
    height: calc(100% - variables.$height_navbar);
    margin-top: variables.$height_navbar;
}

@mixin titleSettings {
    color: colores.$color_principal_1;
    font-size: fonts.$roboto46;
    font-weight: fonts.$robotoW500;
    text-align: center;
    margin-bottom: 30px;
}

@mixin nameSettings {
    margin-top: 20px;
    font-size: fonts.$roboto16;
    color: colores.$color_principal_3;
    font-weight: fonts.$robotoW500;
}

@mixin priceSettings {
    margin-top: 15px;
    font-size: fonts.$roboto16;
    font-weight: fonts.$robotoW500;
    color: black;
}

@mixin namePlatillosSettings {
    color: colores.$color_principal_3;
    font-size: fonts.$roboto32;
    font-weight: fonts.$robotoW400;
    margin-bottom: 20px;
}

@mixin paragraphPlatillosSettings {
    color: colores.$color_principal_1;
    font-size: fonts.$roboto16;
    font-weight: fonts.$robotoW500;
    margin-bottom: 20px;
}

@mixin buttonPlatillosSettings {
    background-color: colores.$color_secundario_1;
    display: block;
    width: 200px;
    height: 50px;
    color: white;
    font-family: fonts.$roboto;
    font-size: fonts.$roboto16;
    font-weight: fonts.$robotoW500;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1);
    transition: 100ms transform ease-in-out;
}

@mixin setGritItem($positionElement, $columnStart, $columnEnd, $rowStart, $rowEnd) {
    &:nth-of-type(#{$positionElement}) {
        grid-column: #{$columnStart} / #{$columnEnd};
        grid-row: #{$rowStart} / #{$rowEnd};
    }
}

@mixin fontInput {
    font-family: fonts.$roboto;
    font-size: fonts.$roboto16;
    font-weight: fonts.$robotoW500;
}

@mixin fontLabel {
    font-family: fonts.$roboto;
    font-size: fonts.$roboto16;
    font-weight: fonts.$robotoW400;
}

@mixin setInput {
    display: block;
    width: 100%;
    padding: 15px 15px 15px 10px;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid colores.$color_principal_3;
    color: colores.$color_principal_3;
}

@mixin setLabel {
    position: absolute;
    top: 15px;
    left: 10px;
    right: 15px;
    pointer-events: none;
    color: colores.$color_principal_3;
    transform: translateY(0) scale(1);
    transition: 200ms transform ease-in;
    transform-origin: left;
}

@mixin setSpan {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: colores.$color_principal_1;
    transform: scale(0);
    transition: 200ms transform ease-in;
    transform-origin: left;
}

@mixin fontFooter {
    font-size: fonts.$roboto14;
    font-weight: fonts.$robotoW400;
}
