@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

//Font Family
$roboto: 'Roboto', sans-serif;

//Font Size
$roboto46: 46px;
$roboto32: 32px;
$roboto24: 24px;
$roboto16: 16px;

//Font Weight
$robotoW300: 300;
$robotoW400: 400;
$robotoW700: 700;
